<h2>View all comments</h2>

<table class="admin-tables">
    <thead>
        <th>Course Commented On</th>
        <th>Content</th>
    </thead>

    <tbody id="table-body">
            <td><%= link_to comment.course.title %></td>
            <td><%= link_to comment.content %></td>
        <% end %>
    </tbody>
</table>