<h2>View all comments for The course!</h2>
<table class="admin-tables">
    <thead>
        <th>Commenter</th>
        <th>Content</th>
    </thead>

    <tbody id="table-body">
        <% @comments_by_course.each do |comment| %>
            <tr>
                <td><%= link_to comment.student.username, admin_student_path(comment.student) %></td>
                <td><%= comment.content %></td>
            </tr>
        <% end %>
        
        <% @comments_by_student.each do |comment| %>
            <tr>
                <td><%= link_to comment.student.username, admin_student_path(comment.student) %></td>
                <td><%= comment.content %></td>
            </tr>
        <% end %>
    </tbody>
</table>