<h2>View all comments</h2>

<table class="admin-tables">
    <thead>
        <th>Commenter</th>
        <th>Content</th>
    </thead>

    <tbody id="table-body">
        <% @comments.each do |comment| %>
            <td><%= link_to comment.student.username %></td>
            <td><%= link_to comment.content %></td>
        <% end %>
    </tbody>
</table>