<h2>View all comments</h2>

<table class="admin-tables">
    <thead>
        <th>Course Commented On</th>
        <th>Content</th>
    </thead>

    <tbody id="table-body">
        <% @comments.each do |comment| %>
            <tr>
                <td><%= link_to comment.course.title, admin_course_path(comment.course) %></td>
                <td><%= link_to comment.content %></td>
            </tr>
        <% end %>
    </tbody>
</table>