#table-wrap-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-tables{
    border: 2px solid black;
    border-radius: 10px;
    width: 100%;
}
.admin-tables td{
    border: 2px solid black;
    background-color: lightsteelblue;
}

.admin-tables th{
    padding: 10px;
}

#create-course-button{
    text-align: right;
}