#table-wrap-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.admin-tables{
    border: 1px solid black;
    width: 100%;
}
.admin-tables td{
    padding: 10px;
    border: 1px solid black;
}

.admin-tables th{
    padding: 10px;
}