#google-signup{
    margin-bottom: 10px;
}

form{
    padding: 20px;
}

form input {
    width: 270px;
    height: 15px;
    padding: 20px;
    font-size: 18px;
}

#create_student{
    padding-top: 3px;
}

#login-btn{
    padding-top: 5px;
}

.new_student label{
    text-align: left;
}
