<h1><% @students.each do |student| %></h1>
    <div id="student-data-div">
        <%= link_to student.username, student_path(student) %>
        <%= form_tag student_path(student.id), method: "delete" do %>
            <%= submit_tag "Delete Student" %>
        <% end %>
    </div>
<% end %>
