<p>
    <% if current_student.is_admin %>
        <%= link_to "Add Course", new_course_path, id: "create-course-button"%>
    <% end %>
</p>
<h1>All Available Courses:</h1>
<% @courses.each do |course| %>
    <%= content_tag :div, id: "courses-div" do %>
        <p>Course title: <%= link_to course.title, course_path(course) %></p>
        <p>Course description:<br><%= course.description %></p>
    <% end %>
<% end %>