<h1>Videos</h1>
<table class="admin-tables">
        <thead>
            <th>Video Title</th><th>Caption</th><th>Course Video</th>
        </thead>
    <tbody>
        <% @videos.each do |video| %>
            <td><%= link_to video.title %></td>
            <td><%= video.caption %></td>
            <td><%= link_to "Memoization Video", video.url %></td>
        <% end %>
    </tbody>
</table>