<table class="admin-tables">
    <thead>
        <th>Description</th>    
        <th>Course Topics</th>
        <th>View Comments</th>
    </thead>

    <tbody>
        <tr>
            <td><%= @course.description %></td>
            <td><%= link_to "All Courses Topics", admin_course_topics_path(@course) %></td>
            <td><%= link_to "Comments", admin_course_comments_path(@course) %></td>
        </tr>
    </tbody>
</table>